*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "remixicon";
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

.container{
    
max-width: 1320px;
margin: 0 auto;
padding:0 15px;

}

.d-flex{
    display: flex;
}

.d-block{
    display:block;
}

.d-ib{
    display: inline-block;
}

.row{
    display: flex;
    flex-wrap: wrap;
    

}

.align-items-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.justify-between{
    justify-content: space-between;
}

.relative{
    position: relative;
}

.col-1{
    width:8.33%;
}
.col-2{
    width:16.66%;
}
.col-3{
    width:25%;
}
.col-4{
    width:33.33%;
}
.col-5{
    width:41.66%;
}
.col-6{
    width:50%;
}
.col-7{
    width:58.33%;
}
.col-8{
    width:66.66%;
}
.col-9{
    width:75%;                                                                                                                                                                                                 
}
.col-10{
    width:83.33%;
}
.col-11{
    width:91.66%;
}
.col-12{
    width:100%;
}

body{
    background-color: #f5f7fb;
}
.box-item{
    height:530px;
    width: 500px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 7px;

}

.box h1{
    margin-top: 40px;
    font-size: 25px;
    font-weight: 600;
}

.box p{
    font-size: 18px;
    margin: 10px 0 15px 0;
    color: #49505c;
}

button{
    margin: 0 auto;
}

.box-item{
    padding: 35px;
}

.google, .facebook, .microsoft{
    color:white;
    border: transparent;
   
    border-radius: 5px;
    font-size: 14px;
}
.google i,.facebook i,.microsoft i{
    font-size: 20px;
}

.google{
    background-color: #bb4237;
    padding: 10px 140px;
}

.facebook{
    background-color: #324c81;
    padding: 10px 133px;
}

.microsoft{
    background-color: #282828;
    padding: 10px 135px;
}

.box-item a{
    margin-bottom: 10px;
}

.col-5 .line{
    margin-top: 20px;
}
 label,.password, .checkbox{
    text-align: left;

}

label,.col-5,.col-2{
    color: #49505c;
}
.col-2{
    font-size: 10px;
}




input::placeholder {
    text-align: left;
}

.email input{
    margin:10px 0 13px 0;
    font-size: 15px;
    padding: 10px 230px 10px 10px;
    border: #b0b4b6 .5px solid;
    border-radius: 7px;
   
}
.password input{
    margin-top: 10px;
    font-size: 15px;
    padding: 10px 130px;
    padding: 10px 230px 10px 10px;
    border: #b0b4b6 .5px solid;
    border-radius: 7px;
   
}

.password a{
    font-size: 13px;
}

.checkbox{
    text-align: left;
    margin:5px 0 15px 0;  

}

.submit input{
    background-color: #3b7ddd;;
    color: #fff;
    padding: 10px 185px;
    border: .5px #3b7ddd solid;
    border-radius: 7px;
    font-size: 15px; 
}


.submit input:hover{
    background-color: #326abc;
}